[Unit]
Description=BEN Device OTA Update Timer
Requires=network-online.target

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
RandomizedDelaySec=30s

[Install]
WantedBy=timers.target
